<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>POC Vodafone</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12"> 
		<h1 class="mt-5">Casi Creati</h1>
		<div class="w3-container" th:each="map : ${hmapAll.entrySet()}">
		
		<button onclick="myFunction('Demo1')" class="w3-btn w3-block w3-black w3-left-align" th:text="${map.key}"></button>
		<div id="Demo1" class="w3-container w3-hide" >
		
		
		<table class="table" style="margin-top: 3%">
		  <thead>
		  </thead>
		  <tbody>
		  <tr>
		  <td><b>Numero Caso</b></td>
		  <td>Problema</td>
		  <td>Orario reperibilità</td>
		  <td>ID circuito</td>
		  <td>Ticket cliente</td>
		  <td>Commento</td>
		  <td>Reperibilità festivi</td>
		  <td>Nome referente 24h</td>
		  <td>Cognome referente 24h</td>
		  <td>Email referente 24h</td>
		  <td>Telefono referente 24h</td>
		  <td>Nome referente</td>
		  <td>Cognome referente</td>
		  <td>Email referente</td>
		  <td>Telefono referente</td>
		  <td>File upload</td>
		  </tr>
		  
		   <tr>
		         <td> <span th:text="${map.value.numCaso}"></span></a> </td>
		         <td> <span th:text="${map.value.problemaS}"></span> </td>
		         <td> <span th:text="${map.value.orarioReperibilitaS}"></span> </td>
		     	 <td> <span th:text="${map.value.idCircuitoS}"></span> </td>
		         <td> <span th:text="${map.value.ticketClienteS}"></span> </td>
		         <td> <span th:text="${map.value.commentoS}"></span> </td>
		         <td> <span th:text="${map.value.reperibilitaFestiviS}"></span> </td>
		         <td> <span th:text="${map.value.nomeReferente24S}"></span> </td>
		         <td> <span th:text="${map.value.cognomeReferente24S}"></span> </td>
		         <td> <span th:text="${map.value.emailReferente24S}"></span> </td>
		         <td> <span th:text="${map.value.telefonoReferente24S}"></span> </td>
		         <td> <span th:text="${map.value.nomeReferenteS}"></span> </td>
		         <td> <span th:text="${map.value.cognomeReferenteS}"></span> </td>
		         <td> <span th:text="${map.value.emailReferenteS}"></span> </td>
		         <td> <span th:text="${map.value.telefonoReferenteS}"></span> </td>
		         <td> <span th:text="${map.value.scegliFileS}"></span> </td>
		</tr> 
		  </tbody>
		</table>
		</div>
		</div>
		<script>
		function myFunction(id) {
		    var x = document.getElementById(id);
		    if (x.className.indexOf("w3-show") == -1) {
		        x.className += " w3-show";
		    } else { 
		        x.className = x.className.replace(" w3-show", "");
		    }
		}
		</script>
	    <!-- Bootstrap core JavaScript -->
	    <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
	    <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		</div>
	  </div>
	</div>
</body>
</html>
